@page "/CadastrarArtista"
@inject NavigationManager NavigationManager
@inject ArtistaAPI artistaAPI

<MudPaper Class="px-8 pt-2 pb-4 mx-12 my-8" Justify="Justify.Center">

    <MudText Class="mt-8" Typo="Typo.h4">Cadastro do Artista</MudText>

    <MudForm>
        <MudTextField Class="mt-4" T="string" Placeholder="Nome do Artista"
                      Variant="Variant.Outlined"
                      @bind-Value="nomeArtista"
                      Required="true"
                      RequiredError="Campo obrigatório." />

        <MudTextField Class="mt-4" T="string" Placeholder="Biografia do artista"
                      Variant="Variant.Outlined"
                      @bind-Value="biografiaArtista"
                      Lines="4"
                      Required="true"
                      RequiredError="Campo obrigatório." />

        <MudImage Class="mt-4" src="@fileImage" />
        <MudFileUpload T="IBrowserFile" Accept=".jpeg" FilesChanged="UploadFile">
            <ButtonTemplate>
                <MudButton HtmlTag="label"
                           Variant="Variant.Filled"
                           Color="Color.Primary"
                           StartIcon="@Icons.Material.Filled.PhotoCamera"
                           for="@context">
                    Foto de Perfil
                </MudButton>
            </ButtonTemplate>
        </MudFileUpload>

        <div class="d-flex align-center justify-space-between mt-4">
            <MudButton Variant="Variant.Filled"
                       @onclick="Cadastrar"
                       Color="Color.Primary"
                       Class="ml-auto">
                Cadastrar
            </MudButton>
            <MudButton Variant="Variant.Filled"
                       @onclick="Cancelar"
                       Color="Color.Secondary"
                       Class="ml-auto">
                Cancelar
            </MudButton>
        </div>
    </MudForm>
</MudPaper>
@code {
    private string? nomeArtista;
    private string? biografiaArtista;

    private string? fileImage;
    private string? fotoPerfil;

    public string? Imagem { get; set; }

    // protected override void OnInitialized()
    // {
    //     Imagem = Artista!.FotoPerfil!.Contains("Foto") ? $"https://localhost:7089/{Artista!.FotoPerfil}" : "images/cardArtista.png";

    // }

    private async Task UploadFile(IBrowserFile file)
    {
        long maxFileSize = 1024 * 1024 * 15; // Tamanho máximo de 15 MB
        var format = "image/jpeg";
        var resizedImageFile = await file.RequestImageFileAsync(format, 200, 200); //Tamanho da imagem

        using var stream = resizedImageFile.OpenReadStream(maxFileSize);
        using var memoryStream = new MemoryStream();
        await stream.CopyToAsync(memoryStream);

        var imageUpload = Convert.ToBase64String(memoryStream.ToArray());
        
        fileImage = $"data:{format};base64,{imageUpload}";
        fotoPerfil = imageUpload;
    }

    private async Task Cadastrar()
    {
        var request = new ArtistaGetRequest(nomeArtista!, biografiaArtista!, 
            fotoPerfil);
        await artistaAPI.CadastrarArtistaAsync(request);
        NavigationManager.NavigateTo("/Artistas");
    }

    private void Cancelar()
    {
        NavigationManager.NavigateTo("/");
    }
}
