@page "/MusicasPorArtistas"
@inject MusicaAPI musicaAPI
<h3>MusicasPorArtista</h3>


<MudStack Class="mt-4 mb-4" Row="true" Justify="Justify.SpaceBetween">
    <MudText Class="mb-4" Typo="Typo.h4">Músicas cadastradas</MudText>
    <MudPagination Count="@totalPaginas" SelectedChanged="PaginaMudou"></MudPagination>
</MudStack>

@if (musicasPorPagina != null)
{
    <MudGrid>
        @foreach (var musica in musicasPorPagina)
        {
            <MudItem xs="3">
                <CardMusica Musica="musica" />
            </MudItem>
        }
    </MudGrid>
}
else
{
    <p><em>Carregando...</em></p>
}

@code {
    private ICollection<MusicaResponse>? musicas;

    //Paginação
    private int tamanho = 8;
    private int totalItens;
    private int totalPaginas;
    private ICollection<MusicaResponse>? musicasPorPagina;


    protected override async Task OnInitializedAsync()
    {
        musicas = await musicaAPI.GetMusicasResponsesAsync();
        if (musicas != null)
        {
            musicasPorPagina = musicas.OrderByDescending(a => a.id).ToList();
            totalItens = musicas.Count;
            totalPaginas = Convert.ToInt32(Math.Ceiling((double)totalItens / tamanho));
            this.PaginaMudou(1);
        }
    }

    //Código omitido

    private void PaginaMudou(int pageNumber)
    {
        var indice = pageNumber - 1;
        musicasPorPagina = musicas!
            .Skip(tamanho * indice)
            .Take(tamanho)
            .ToList();
    }
}
